.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 18px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes ul li + li{
        padding-top: 5px;
    }

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.meus-filmes button{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #d1d1d1;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.meus-filmes button:hover{
    background-color: #e4e4e4;
}



@media(max-width: 720px){
    
    .meus-filmes ul{
        width: 90%;
    }

    .meus-filmes ul li{
        flex-direction: column;
        align-items: flex-start;
    }

    .meus-filmes div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;
    }
    
}
    

     


